.game {
  padding-top: 145px;
}
.game__container {
  position: relative;

  min-height: 823px;
}

.game__container::after {
  content: '';
  width: 675px;
  height: 762px;
  position: absolute;
  background-image: url(../img/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.game__title {
  font-size: 150px;
  font-weight: 900;
  line-height: 150px;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}

.game__subtitle {
  font-size: 28px;
  padding-left: 100px;
}
