.header {
  text-transform: uppercase;
  padding-top: 30px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__logo {
  fill: var(--white);
}

.header__btn {
  border: 3px solid var(--light-purple);
  border-radius: 10px;
  padding: 12px 32px;
  font-weight: 700;
  font-size: 22px;
  line-height: 136%;
  text-transform: uppercase;
  color: var(--white);
  outline: 1px transparent;
  transition: all 0.3s linear;
  /* min-width: 286px; */
}

.header__btn:hover,
.header__btn:focus {
  border: 3px solid var(--dark-purple);
  background: var(--dark-purple);
}

.header__btn:active {
  border: 3px solid transparent;
  outline: 1px solid var(--black);
  background: var(--violet);
}
