.header {
  text-transform: uppercase;
  padding-top: 30px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__logo {
  fill: #fff;
}

.header__btn {
  border: 3px solid #cd06ff;
  border-radius: 10px;
  padding: 12px 32px;
  font-weight: 700;
  font-size: 22px;
  line-height: 136%;
  text-transform: uppercase;
  color: #fff;
  outline: none;
}

.header__btn:hover,
.header__btn:focus {
  border: 3px solid #6c0287;
  background: #6c0287;
}

.header__btn:active {
  border: 1px solid #000;
  background: #640aa3;
}
