.reviews__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.reviews__item:not(:last-child) {
  margin-bottom: 50px;
}
.reviews__figure {
  display: inline-block;
  max-width: 280px;
  margin-right: 20px;
  /* float: left; */
}

.reviews__gradient {
  position: relative;
}

.reviews__gradient::after {
  z-index: 10;
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: var(--review-gradient);
}

.reviews__image {
  display: block;
  margin-bottom: 11px;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  object-fit: cover;
  object-position: 0 -5px;
}
.reviews__author {
  text-align: center;
}
.reviews__descr {
  display: inline-block;
  max-width: 680px;
  min-height: 318px;
  padding-top: 50px;
  vertical-align: top;
}
